//
// Buttons
//

$btn-padding-y: 12px;
$btn-padding-x: 1.875em;
$btn-font-family: #{inspect($font-din)};
$btn-font-size: 1.125em;
$btn-line-height: 1;
$btn-white-space: null !default; // Set to `nowrap` to prevent text wrapping

$btn-padding-y-sm: 5px;
$btn-padding-x-sm: 20px;
$btn-font-size-sm: 1.125em;
$btn-line-height-sm: 1;

$btn-padding-y-lg: 15px;
$btn-padding-x-lg: 1.875em;
$btn-font-size-lg: 1.125em;
$btn-line-height-lg: 1;

$btn-border-width: $input-btn-border-width !default;

$btn-font-weight: 500;
$btn-box-shadow: inset 0 1px 0 rgba($white, 0.15), 0 1px 1px rgba($black, 0.075) !default;
$btn-focus-width: $input-btn-focus-width !default;
$btn-focus-box-shadow: $input-btn-focus-box-shadow !default;
$btn-disabled-opacity: 0.5;
$btn-active-box-shadow: inset 0 3px 5px rgba($black, 0.125) !default;

$btn-link-disabled-color: $gray-600 !default;

$btn-border-radius: 5px;
$btn-border-radius-lg: 5px;
$btn-border-radius-sm: 5px;

.button {
    display: inline-block;
    font-family: $btn-font-family;
    font-weight: $btn-font-weight;
    color: $black-text;
    text-align: center;
    white-space: $btn-white-space;
    vertical-align: middle;
    cursor: if($enable-pointer-cursor-for-buttons, pointer, null);
    user-select: none;
    background-color: transparent;
    border: $btn-border-width solid transparent;

    min-width: 7.5em;

    @include button-size(
        $btn-padding-y,
        $btn-padding-x,
        $btn-font-size,
        $btn-line-height,
        $btn-border-radius
    );
    @include transition($btn-transition);

    // Disabled comes first so active can properly restyle
    //   &.disabled,
    //   &:disabled {
    //     opacity: $btn-disabled-opacity;
    //     @include box-shadow(none);
    //   }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
        @include box-shadow($btn-active-box-shadow);

        &:focus {
            @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
        }
    }

    &--reset {
        border: none;
        margin: 0;
        padding: 0;
        width: auto;
        overflow: visible;

        background: transparent;

        /* inherit font & color from ancestor */
        color: inherit;
        font: inherit;

        /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
        line-height: normal;

        /* Corrects font smoothing for webkit */
        -webkit-font-smoothing: inherit;
        -moz-osx-font-smoothing: inherit;

        /* Corrects inability to style clickable `input` types in iOS */
        -webkit-appearance: none;
    }
}

//
// Button Sizes
//

.button--lg {
    @include button-size(
        $btn-padding-y-lg,
        $btn-padding-x-lg,
        $btn-font-size-lg,
        $btn-line-height-lg,
        $btn-border-radius-lg
    );
}

.button--sm {
    @include button-size(
        $btn-padding-y-sm,
        $btn-padding-x-sm,
        $btn-font-size-sm,
        $btn-line-height-sm,
        $btn-border-radius-sm
    );
}

.button {
    &--primary {
        @extend .button;
        background-color: $orange;
        &:not(:disabled):not(.disabled):hover {
            color: $black;
            background: linear-gradient(
                    0deg,
                    rgba(0, 0, 0, 0.1),
                    rgba(0, 0, 0, 0.1)
                ),
                $orange;
        }
        &.disabled,
        &:disabled {
            cursor: not-allowed;
            background: rgba($orange, 0.5);
            color: $black-text;
        }
    }
    &--secondary {
        @extend .button;
        background-color: $ehealth-blue;
        color: $white;
        &:not(:disabled):not(.disabled):hover {
            background: linear-gradient(
                    0deg,
                    rgba(0, 0, 0, 0.1),
                    rgba(0, 0, 0, 0.1)
                ),
                $ehealth-blue;
        }
        &.disabled,
        &:disabled {
            cursor: not-allowed;
            background: rgba($ehealth-blue, 0.5);
        }
    }
    &--tertiary {
        @extend .button;
        background-color: $white;
        color: $blue;
        border-color: $gray-dark;
        &:not(:disabled):not(.disabled):hover {
            background-color: $gray-lighter;
        }
        &.disabled,
        &:disabled {
            cursor: not-allowed;
            opacity: 0.5;
        }
    }
}

.button-styles {
    &--primary {
        font-family: $btn-font-family !important;
        font-weight: $btn-font-weight !important;
        background-color: $orange !important;
        &:not(:disabled):not(.disabled):hover {
            background: linear-gradient(
                    0deg,
                    rgba(0, 0, 0, 0.1),
                    rgba(0, 0, 0, 0.1)
                ),
                $orange !important;
        }
        &.disabled,
        &:disabled {
            cursor: not-allowed !important;
            background: rgba($orange, 0.5) !important;
            color: $black-text !important;
        }
    }
    &--secondary {
        font-family: $btn-font-family !important;
        font-weight: $btn-font-weight !important;
        background-color: $ehealth-blue !important;
        color: $white !important;
        &:not(:disabled):not(.disabled):hover {
            background: linear-gradient(
                    0deg,
                    rgba(0, 0, 0, 0.1),
                    rgba(0, 0, 0, 0.1)
                ),
                $ehealth-blue !important;
        }
        &.disabled,
        &:disabled {
            cursor: not-allowed !important;
            background: rgba($ehealth-blue, 0.5) !important;
        }
    }
    &--tertiary {
        font-family: $btn-font-family !important;
        font-weight: $btn-font-weight !important;
        background-color: $white !important;
        color: $blue !important;
        border-color: $gray-dark !important;
        &:not(:disabled):not(.disabled):hover {
            background-color: $gray-lighter !important;
        }
        &.disabled,
        &:disabled {
            cursor: not-allowed !important;
            opacity: 0.5 !important;
        }
    }
}
